body {
    background-image: linear-gradient(to top, #000 0%, #fff 100%);
    font-family: "Work Sans", sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: "Days One", sans-serif;
}


nav {
    display: flex;
    background-color: #111;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 0 6%;
    height: 10%;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
}

nav ul li a {
    font-size: 16px;
    padding: 0 15px;
    color: white;
    transition: 0.2s;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #888;
}

nav h1 {
    display: inline-block;
    margin-left: 0;
    color: white;
}

nav h1 a {
    color: white;
    text-decoration: none;
}

nav h1 a:hover {
    color: #888;
}


.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.hero {
    padding-top: 130px;
}

.hero img {
    border-style: none;
    border-radius: 50%;
    margin: 0 auto;
    max-width: 440px;
    display: block;
}

h1 {
    color: #222;
    text-align: center;
    font-size: 24px;
    margin: 30px 0px 100px;
}

.aboutme {
    width: 90%;
    max-width: 1100px;
    height: auto;
    background-color: white;
    text-align: center;
    padding: 40px 50px 70px;
    margin: 0 auto;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.4), -10px -10px 0px rgba(255, 114, 114, 0.8);
}

.aboutme-section {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.aboutme-image {
    height: 450px;
    width: 400px;
    background-image: url("abt.jpeg");
    background-size: cover;
    background-position: center;
}

.aboutme-text {
    height: auto;
    width: 40%;
    margin-left: 40px;
    text-align: left;
}


#projects {
    padding: 5px;
    margin: 5%;
    width: 90%;
    height: auto;
    text-align: center;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

#projects h2 {
    color: rgb(255, 255, 255);

}

.earth-project,
.bbc-project {
    width: 400px;
    height: 400px;
    background: white;
    position: relative;
    border-radius: 10px;
    margin: 20px;
    background-size: cover;
    background-position: center;
}

.earth-project {
    background-image: url("project1.png");
}

.bbc-project {
    background-image: url("project2.jpg");
}

.text {
    position: absolute;
    height: 65px;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: white;
    overflow: hidden;
    transition: 0.2s;
    padding: 20px;
}

.text:hover {
    height: 175px;
    transition: 0.3s;
}

.text h3 {
    margin-top: 3px;
}

.content {
    color: black;
}

.button {
    border: 1px solid #999999;
    border-radius: 4px;
    width: 160px;
    margin-bottom: 100px;
    margin-left: 10px;
    padding: 10px;
    transition-duration: 0.6s;
}

.button:hover {
    background-color: #333;
    color: white;
    border: none;
}

.contact {
    width: 100%;
    height: auto;
    padding: 75px 0 50px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.45);
}

.contact p {
    margin-bottom: 50px;
}

.contact h2,
.contact p {
    color: white;
}

.contact-form {
    max-width: 800px;
    display: flex;
    text-align: left;
    max-width: 1100px;
    margin: 0 auto;
    color: white;
}

.contact-form label {
    display: block;
    margin-bottom: 9px;
}

.message {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.message textarea {
    border-radius: 5px;
    border: 0px;
}

.contact-details {
    flex: 1;
    margin-right: 50px;
}

.contact-details input {
    width: 100%;
    border-radius: 5px;
    border: 0px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.message button {
    color: #1d3d5f;
    border: 0;
    border-radius: 5px;
    background: lightgray;
    width: 140px;
    height: 40px;
    margin-top: 40px;
    margin-left: auto;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.message button:hover {
    background: #333;
    color: white;
    transition: 0.2s;
}


footer {
    height: 90px;
    background-color: #1f2027;

}

footer .container {
    display: flex;
    align-items: center;
    height: 100%;
}

.social-media {
    font-size: 200%;
    width: auto;
    margin-left: auto;
}

.social-media a i {
    color: white;
    transition: 0.2s;
}

.social-media a i:hover {
    color: lightblue;
    transition: 0.2s;
}

.copyright {
    color: white;
}